export("%<>%")
export("%>%")
export(runCalmet)
export(runCalpuff)
export(runPostprocessing)
exportPattern("^[[:alpha:]]|\\%+") # some helper functions can be used when doing hia

importFrom(RColorBrewer,brewer.pal)

importFrom(dplyr,all_vars)
importFrom(dplyr,any_vars)
importFrom(dplyr,arrange)
importFrom(dplyr,as_tibble)
importFrom(dplyr,bind_rows)
importFrom(dplyr,collect)
importFrom(dplyr,distinct)
importFrom(dplyr,do)
importFrom(dplyr,everything)
importFrom(dplyr,filter)
importFrom(dplyr,filter_at)
importFrom(dplyr,group_by)
importFrom(dplyr,group_by_at)
importFrom(dplyr,inner_join)
importFrom(dplyr,left_join)
importFrom(dplyr,mutate)
importFrom(dplyr,mutate_all)
importFrom(dplyr,mutate_at)
importFrom(dplyr,mutate_if)
importFrom(dplyr,pull)
importFrom(dplyr,rename)
importFrom(dplyr,rowwise)
importFrom(dplyr,select)
importFrom(dplyr,summarise)
importFrom(dplyr,summarise_all)
importFrom(dplyr,summarise_at)
importFrom(dplyr,tibble)
importFrom(dplyr,ungroup)
importFrom(dplyr,vars)

importFrom(ggspatial,annotation_spatial)
importFrom(ggspatial,layer_spatial)

importFrom(gstat,idw)

importFrom(plotKML, kml_open)
importFrom(plotKML, kml_layer)
importFrom(plotKML, kml_screen)
importFrom(plotKML, kml_close)

importFrom(lubridate,"hour<-")
importFrom(lubridate,day)
importFrom(lubridate,hour)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(lubridate,ymd)
importFrom(lubridate,ymd_h)

importFrom(magrittr,"%<>%")
importFrom(magrittr,"%>%")
importFrom(magrittr,add)
importFrom(magrittr,divide_by)
importFrom(magrittr,multiply_by)
importFrom(magrittr,set_names)
importFrom(magrittr,subtract)
importFrom(magrittr,use_series)
importFrom(magrittr,equals)

importFrom(ncdf4,nc_open)


importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(plyr,ldply)
importFrom(plyr,alply)

importFrom(raster,"crs<-")
importFrom(raster,aggregate)
importFrom(raster,crs)
importFrom(raster,extend)
importFrom(raster,extent)
importFrom(raster,raster)
importFrom(raster,rasterize)
importFrom(raster,resample)
importFrom(raster,values)
importFrom(raster,projectExtent)
importFrom(raster,projectRaster)
importFrom(raster,as.matrix)
importFrom(raster,cut)
importFrom(raster,crop)

importFrom(rasterVis,levelplot)
importFrom(rasterVis,rasterTheme)

importFrom(latticeExtra,layer)

importFrom(readxl,read_xlsx)

importFrom(readr, read_csv)
importFrom(readr, write_csv)

importFrom(rgeos,gContains)
importFrom(rgeos,gBuffer)
importFrom(rgeos,gDifference)
importFrom(rgeos,gUnaryUnion)
importFrom(rgeos,gCentroid)

importFrom(sp,CRS)
importFrom(sp,SpatialPointsDataFrame)
importFrom(sp,SpatialPolygonsDataFrame)
importFrom(sp,Polygons)
importFrom(sp,SpatialPolygons)
importFrom(sp,coordinates)
importFrom(sp,spTransform)
importFrom(sp,proj4string)
importFrom(sp,sp.text)

importFrom(tidyr,gather)
importFrom(tidyr,spread)
importFrom(tidyr,separate)

importFrom(stringr,str_detect)

importFrom(zip,zip)

importFrom(zoo,na.approx)
importFrom(zoo,na.fill)


